<app-header></app-header>
@if ((gameFacade.loadingAllPeople$ | async) && (gameFacade.loadingAllStarships$ | async)) {
    <app-loader></app-loader>
}
@else {
    <div class="game-container">
        <app-game-result
            [score]="gameFacade.score$ | async"
        ></app-game-result>
        @if (selectedResource) {
            <app-game
                [selectedResource]="selectedResource"
                [resourceList]="selectedResource === resources.PEOPLE ? (gameFacade.allPeople$ | async) : (gameFacade.allStarships$ | async)"
                (onNewBattle)="newBattle()"
                (saveWinner)="saveScore($event)"
            ></app-game>
        }
        @else {
            <app-resource-picker
                (selectResource)="onSelectResource($event)"
            ></app-resource-picker>
        }
    </div>
}